In [1]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
from os.path import expanduser, join
from re import findall, compile
from pandas import read_csv, merge, to_datetime, DataFrame
import subprocess
from gensim.utils import simple_preprocess
from time import time

In [3]:
home = expanduser('~')
mypath = f'{home}/Downloads/BigData/'
deromalized_path = join(mypath, 'Datastax_denormalized/').replace('\\', '/')

## Connect to DataStax

In [4]:
cloud_config= {'secure_connect_bundle': mypath+'secure-connect-bigdataproject2022.zip'}

with open(mypath+'GeneratedToken.csv', 'r', encoding='utf-8') as file:
    try:
        content = file.readlines()        
    except FileNotFoundError:
        raise('File not found')

tokens = findall(r'"(.*?)"', content[1])
client_id = tokens[0]
client_secret = tokens[1]

In [5]:
keyspace = 'big_data'
auth_provider = PlainTextAuthProvider(client_id, client_secret)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect(keyspace)

### Python function/script for data uploading to DataStax

In [6]:
# csv column names must match exactly the keyspace's table column names 
def upload_data_to_cassandra(keyspace, table_name, filename, username, password, cons='ALL'):
    ds_bulk_url = 'C:/dsbulk-1.9.0/dsbulk-1.9.0/bin/dsbulk'
    filename_url = join(deromalized_path, filename).replace('\\', '/')
    bundle_url = join(mypath, 'secure-connect-bigdataproject2022.zip').replace('\\', '/')
    
    shell_comm = [ds_bulk_url, 'load', '-url', filename_url, '-k', keyspace, '-t', table_name, '-cl', cons, 
                  '-b', bundle_url, '-u', username, '-p', password, '-header', 'true']
    
    ret = subprocess.run(shell_comm, capture_output=True, shell=True)
    print(ret)
    return

In [7]:
movies = read_csv(mypath+'archive/movie.csv', names=["movieid", "title", "genres"], header=0)
print(movies.shape)
movies.head()

(27278, 3)

,movieid,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
ratings = read_csv(mypath+'archive/rating.csv', usecols=['movieId', 'rating', 'timestamp'], header=0)
ratings = ratings.rename(columns={'movieId':'movieid'})
print(ratings.shape)
ratings.head()

(20000263, 3)

   movieid  rating            timestamp
0        2     3.5  2005-04-02 23:53:47
1       29     3.5  2005-04-02 23:31:16
2       32     3.5  2005-04-02 23:33:39
3       47     3.5  2005-04-02 23:32:07
4       50     3.5  2005-04-02 23:29:40

In [9]:
ratings['timestamp'] = to_datetime(ratings.timestamp)
ratings.set_index(ratings['timestamp'], inplace=True)

## Q1

## Denormalize and Model data for Q1

In [10]:
# function to clean out titles
def preprocess_movie_title(title):
    
    sep = ' ('
    title = title.split(sep, 1)[0]
    title = title.replace("'", "")
    
    comma_index = title.find(', The')
    a_index = title.find(', A')

    if comma_index > 0:
        return title[comma_index+2:] + ' ' + title[:comma_index]
    elif a_index > 0:
        return title[a_index+2:] + ' ' + title[:a_index]

    return title

In [11]:
# create release date column
movies['release_date'] = movies['title'].str.extract(r"\((\d+)\)")
## clean titles and store back to column title
movies['title'] = movies['title'].apply(preprocess_movie_title)
movies.head()

,movieid,title,genres,release_date
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [12]:
# group by year - month - day and get avg
ratings_by_year_month_week = DataFrame(ratings.groupby(by=['movieid', ratings.index.year, ratings.index.month, ratings.index.day])['rating'].mean().round(decimals=1))
ratings_by_year_month_week.index.set_names(['movieid', 'year', 'month', 'day'], inplace=True)
ratings_by_year_month_week.reset_index(inplace=True)

# left join this avg with movies
popular_movies_by_date = merge(left=movies.loc[:, 'movieid':'genres'], right=ratings_by_year_month_week, left_on='movieid', right_on='movieid')
popular_movies_by_date.head()

,movieid,title,genres,year,month,day,rating
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1996,1,29,4.0
1,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1996,2,1,5.0
2,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1996,2,2,4.5
3,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1996,2,5,5.0
4,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1996,2,12,5.0

### Store data to file and insert  to popular_movies_by_date

In [14]:
popular_movies_by_date.to_csv(deromalized_path + 'popular_movies_by_date.csv', index=0)

In [38]:
start = time()
upload_data_to_cassandra(keyspace, 'popular_movies_by_date', 'popular_movies_by_date.csv', client_id, client_secret, cons='ONE')
end = time()

print(end-start)

CompletedProcess(args=['C:/dsbulk-1.9.0/dsbulk-1.9.0/bin/dsbulk', 'load', '-url', 'C:/Users/giwrg/Downloads/BigData/Datastax_denormalized/popular_movies_by_date.csv', '-k', 'big_data', '-t', 'popular_movies_by_date', '-cl', 'ONE', '-b', 'C:/Users/giwrg/Downloads/BigData/secure-connect-bigdataproject2022.zip', '-u', 'ZeYCAzFQsZzBoJQgHJWSitoc', '-p', '8IZ_YFm-E,4g28Q.kw.JleZ5h,BdjYmFTUMZkKk2n5r8k7N0LtGILx3g44yeWo1yr7N,XTLZpu0,DwUHpBcUb8aziYEckRalTgh8.WnbJOuqrwpMcrl..As90BZYzJDj', '-header', 'true'], returncode=0, stdout=b'', stderr=b'Username and password provided but auth provider not specified, inferring PlainTextAuthProvider\r\nA cloud secure connect bundle was provided: ignoring all explicit contact points.\r\nA cloud secure connect bundle was provided together with consistency level ONE, but selected operation performs writes: forcing default consistency level to LOCAL_QUORUM.\r\nOperation directory: C:\\Users\\giwrg\\BigData\\logs\\LOAD_20220703-184536-933000\r\ntotal | failed | rows/s |    p50ms |    p99ms |   p999ms | batches\r\n4.864 |      0 |    455 | 2.200,36 | 4.731,17 | 4.731,17 |   32,00\r\ntotal | failed | rows/s |    p50ms |    p99ms |   p999ms | batches\r\n8.448 |      0 |    582 | 2.590,98 | 8.355,05 | 8.355,05 |   32,00\r\n total | failed | rows/s |    p50ms |    p99ms |   p999ms | batches\r\n12.160 |      0 |    630 | 2.645,11 | 8.287,94 | 8.791,26 |   32,00\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n16.000 |      0 |    665 | 2.593,24 | 8.355,05 | 15.904,80 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n19.840 |      0 |    684 | 2.683,18 | 11.341,40 | 15.904,80 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n23.808 |      0 |    703 | 2.652,34 | 11.140,07 | 15.904,80 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n27.520 |      0 |    709 | 2.603,06 | 11.140,07 | 15.904,80 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n31.488 |      0 |    719 | 2.612,14 | 11.140,07 | 15.904,80 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n35.328 |      0 |    723 | 2.662,21 | 13.623,10 | 21.743,27 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n38.912 |      0 |    722 | 2.676,93 | 13.555,99 | 21.743,27 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n42.880 |      0 |    730 | 2.677,51 | 13.623,10 | 21.743,27 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n46.848 |      0 |    734 | 2.675,42 | 13.555,99 | 21.743,27 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n50.816 |      0 |    739 | 2.675,97 | 12.549,36 | 21.743,27 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n54.528 |      0 |    739 | 2.656,48 | 11.408,51 | 21.743,27 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n58.112 |      0 |    738 | 2.673,21 | 11.341,40 | 21.743,27 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n61.696 |      0 |    736 | 2.687,38 | 11.207,18 | 21.743,27 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n65.152 |      0 |    733 | 2.711,30 | 11.408,51 | 21.743,27 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n68.608 |      0 |    730 | 2.714,44 | 11.341,40 | 21.609,05 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n72.320 |      0 |    731 | 2.723,49 | 11.408,51 | 21.609,05 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n76.160 |      0 |    734 | 2.730,78 | 11.341,40 | 21.609,05 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n79.616 |      0 |    731 | 2.737,32 | 11.207,18 | 21.609,05 |   32,00\r\n total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n83.072 |      0 |    729 | 2.751,39 | 11.140,07 | 21.609,05 |   32,00\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n86.784 |      0 |    729 | 2.748,19 | 9.932,11 | 21.609,05 |   32,00\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n90.368 |      0 |    729 | 2.741,05 | 9.865,00 | 21.609,05 |   32,00\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n94.080 |      0 |    729 | 2.733,89 | 9.932,11 | 21.609,05 |   32,00\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n97.920 |      0 |    731 | 2.734,73 | 9.865,00 | 21.609,05 |   32,00\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n101.376 |      0 |    730 | 2.714,00 | 9.797,89 | 17.582,52 |   32,00\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n105.088 |      0 |    730 | 2.717,54 | 9.730,79 | 21.609,05 |   32,00\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n108.672 |      0 |    729 | 2.738,28 | 9.932,11 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n112.128 |      0 |    728 | 2.726,25 | 9.865,00 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n115.584 |      0 |    726 | 2.730,53 | 9.999,22 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n119.424 |      0 |    728 | 2.728,14 | 10.401,87 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n123.008 |      0 |    727 | 2.723,19 | 9.999,22 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n126.464 |      0 |    726 | 2.728,52 | 10.536,09 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n130.176 |      0 |    727 | 2.744,26 | 11.072,96 | 21.877,49 |   32,00\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n133.632 |      0 |    726 | 2.741,38 | 10.670,31 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n137.600 |      0 |    727 | 2.727,42 | 10.401,87 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n141.312 |      0 |    728 | 2.723,85 | 10.468,98 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n145.408 |      0 |    730 | 2.714,38 | 10.468,98 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n149.120 |      0 |    731 | 2.711,32 | 10.536,09 | 21.743,27 |   32,00\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n152.917 |      0 |    732 | 2.708,32 | 10.670,31 | 21.743,27 |   31,99\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n152.917 |      0 |    725 | 2.707,11 | 10.670,31 | 21.743,27 |   31,99\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n152.917 |      0 |    708 | 2.714,79 | 10.804,53 | 21.743,27 |   31,99\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n152.917 |      0 |    692 | 2.714,79 | 10.804,53 | 21.743,27 |   31,99\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n152.917 |      0 |    677 | 2.714,79 | 10.804,53 | 21.743,27 |   31,99\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n152.917 |      0 |    662 | 2.714,79 | 10.804,53 | 21.743,27 |   31,99\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n152.917 |      0 |    648 | 2.714,79 | 10.804,53 | 21.743,27 |   31,99\r\nNot sending heartbeat because a previous one is still in progress. Check that advanced.heartbeat.interval is not lower than advanced.heartbeat.timeout.\r\n  total | failed | rows/s |    p50ms |     p99ms |    p999ms | batches\r\n152.917 |      0 |    647 | 2.788,86 | 11.207,18 | 35.970,35 |   31,99\r\nOperation LOAD_20220703-184536-933000 completed successfully in 3 minutes and 55 seconds.\r\nLast processed positions can be found in positions.txt\r\n')
246.13111209869385

## Q2

## Denormalize and Model data for Q2

In [16]:
word_title = movies['title'].apply(simple_preprocess)
movies_by_keyword = DataFrame(word_title.tolist(), index=movies['movieid']).stack()
movies_by_keyword = movies_by_keyword.reset_index()[[0, 'movieid']] 
movies_by_keyword.columns = ['keyword', 'movieid']
movies_by_keyword.head()

    keyword  movieid
0       toy        1
1     story        1
2   jumanji        2
3  grumpier        3
4       old        3

In [17]:
# left join movies with movies_by_keyword to get title and genres
movies_by_keyword = merge(left=movies_by_keyword, right=movies.loc[:,'movieid':'genres'], left_on='movieid', right_on='movieid')

# compute avg rating for every movie and left join with movies_by_keyword
avgs = ratings.groupby(by='movieid')['rating'].mean().reset_index().round(decimals=1)
movies_by_keyword = merge(left=movies_by_keyword, right=avgs, left_on='movieid', right_on='movieid')
movies_by_keyword

,keyword,movieid,title,genres,rating
0,toy,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.9
1,story,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.9
2,jumanji,2,Jumanji,Adventure|Children|Fantasy,3.2
3,grumpier,3,Grumpier Old Men,Comedy|Romance,3.2
4,old,3,Grumpier Old Men,Comedy|Romance,3.2
...,...,...,...,...,...
76037,the,131258,The Pirates,Adventure,2.5
76038,pirates,131258,The Pirates,Adventure,2.5
76039,rentun,131260,Rentun Ruusu,(no genres listed),3.0
76040,ruusu,131260,Rentun Ruusu,(no genres listed),3.0
76041,innocence,131262,Innocence,Adventure|Fantasy|Horror,4.0

### Store file and Insert to movies_by_keyword

In [18]:
movies_by_keyword.to_csv(deromalized_path + 'movies_by_keyword.csv', index=0)

In [20]:
start = time()
upload_data_to_cassandra(keyspace, 'movies_by_keyword', 'movies_by_keyword.csv', client_id, client_secret, cons='ALL')
end = time()

print(end-start)

CompletedProcess(args=['C:/dsbulk-1.9.0/dsbulk-1.9.0/bin/dsbulk', 'load', '-url', 'C:/Users/giwrg/Downloads/BigData/Datastax_denormalized/movies_by_keyword.csv', '-k', 'big_data', '-t', 'movies_by_keyword', '-cl', 'ALL', '-b', 'C:/Users/giwrg/Downloads/BigData/secure-connect-bigdataproject2022.zip', '-u', 'ZeYCAzFQsZzBoJQgHJWSitoc', '-p', '8IZ_YFm-E,4g28Q.kw.JleZ5h,BdjYmFTUMZkKk2n5r8k7N0LtGILx3g44yeWo1yr7N,XTLZpu0,DwUHpBcUb8aziYEckRalTgh8.WnbJOuqrwpMcrl..As90BZYzJDj', '-header', 'true'], returncode=0, stdout=b'', stderr=b'Username and password provided but auth provider not specified, inferring PlainTextAuthProvider\r\nA cloud secure connect bundle was provided: ignoring all explicit contact points.\r\nOperation directory: C:\\Users\\giwrg\\BigData\\logs\\LOAD_20220703-092744-416000\r\ntotal | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n2.560 |      0 |    381 | 184,21 | 281,02 | 341,84 |    1,23\r\ntotal | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n4.608 |      0 |    410 | 184,73 | 283,12 | 343,93 |    1,19\r\ntotal | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n6.784 |      0 |    419 | 187,91 | 308,28 | 534,77 |    1,26\r\ntotal | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n8.960 |      0 |    414 | 191,43 | 373,29 | 692,06 |    1,21\r\n total | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n10.752 |      0 |    409 | 196,06 | 518,00 | 926,94 |    1,20\r\n total | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n13.056 |      0 |    416 | 194,16 | 497,03 | 910,16 |    1,23\r\n total | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n15.360 |      0 |    419 | 192,01 | 484,44 | 864,03 |    1,17\r\n total | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n17.536 |      0 |    422 | 190,88 | 467,66 | 809,50 |    1,21\r\n total | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n19.712 |      0 |    423 | 190,17 | 452,98 | 784,33 |    1,19\r\n total | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n22.016 |      0 |    426 | 189,42 | 413,14 | 775,95 |    1,23\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n23.552 |      0 |    416 | 193,39 | 511,71 | 1.098,91 |    1,23\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n25.728 |      0 |    418 | 193,42 | 520,09 | 1.098,91 |    1,24\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n27.904 |      0 |    419 | 193,12 | 505,41 | 1.098,91 |    1,23\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n30.080 |      0 |    420 | 192,47 | 497,03 | 1.098,91 |    1,22\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n32.128 |      0 |    419 | 192,49 | 494,93 | 1.098,91 |    1,19\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n34.304 |      0 |    420 | 192,12 | 486,54 | 1.098,91 |    1,20\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n35.840 |      0 |    414 | 194,15 | 534,77 | 1.098,91 |    1,20\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n38.016 |      0 |    415 | 194,83 | 536,87 | 1.375,73 |    1,22\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n40.192 |      0 |    416 | 194,42 | 526,39 | 1.317,01 |    1,23\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n42.368 |      0 |    416 | 194,07 | 515,90 | 1.241,51 |    1,23\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n44.544 |      0 |    417 | 193,55 | 505,41 | 1.124,07 |    1,24\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n46.720 |      0 |    418 | 193,16 | 497,03 | 1.098,91 |    1,22\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n48.512 |      0 |    415 | 193,95 | 513,80 | 1.098,91 |    1,23\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n50.176 |      0 |    412 | 195,68 | 549,45 | 1.124,07 |    1,23\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n52.352 |      0 |    413 | 195,28 | 541,07 | 1.098,91 |    1,23\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n54.400 |      0 |    414 | 194,94 | 532,68 | 1.098,91 |    1,22\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n56.576 |      0 |    413 | 195,22 | 530,58 | 1.098,91 |    1,20\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n58.624 |      0 |    413 | 194,90 | 522,19 | 1.098,91 |    1,19\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n60.672 |      0 |    413 | 194,96 | 524,29 | 1.098,91 |    1,19\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n62.336 |      0 |    410 | 196,08 | 545,26 | 1.124,07 |    1,21\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n64.512 |      0 |    411 | 195,82 | 536,87 | 1.098,91 |    1,23\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n66.560 |      0 |    411 | 195,67 | 532,68 | 1.098,91 |    1,24\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n68.608 |      0 |    412 | 195,46 | 528,48 | 1.098,91 |    1,24\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n70.784 |      0 |    412 | 195,34 | 520,09 | 1.098,91 |    1,24\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n72.704 |      0 |    411 | 195,62 | 522,19 | 1.098,91 |    1,25\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n74.496 |      0 |    410 | 196,15 | 532,68 | 1.098,91 |    1,25\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n76.042 |      0 |    410 | 196,36 | 534,77 | 1.358,95 |    1,22\r\nOperation LOAD_20220703-092744-416000 completed successfully in 3 minutes and 5 seconds.\r\nLast processed positions can be found in positions.txt\r\n')
196.06457948684692

# Q3

## Denormalize and Model data for Q3

In [22]:
# split genres per row
b = DataFrame(movies['genres'].str.split('|').tolist(), index=movies['movieid']).stack()
b = b.reset_index()[[0, 'movieid']] 
b.columns = ['genre', 'movieid'] 

# left join the genres with movies
movies_by_genre = merge(left=b, right=movies.drop(columns='genres', axis=1), left_on='movieid', right_on='movieid')

# join movies and ratins
movies_by_genre = merge(left=movies_by_genre, right=avgs, left_on='movieid', right_on='movieid').rename(columns={'rating':'avg_rating'}).round(decimals=1)

# remove trash rows
movies_by_genre = movies_by_genre[movies_by_genre['release_date'].str.len() == 4]
movies_by_genre = movies_by_genre[movies_by_genre['genre'] != '(no genres listed)']

movies_by_genre

           genre  movieid                   title release_date  avg_rating
0      Adventure        1               Toy Story         1995         3.9
1      Animation        1               Toy Story         1995         3.9
2       Children        1               Toy Story         1995         3.9
3         Comedy        1               Toy Story         1995         3.9
4        Fantasy        1               Toy Story         1995         3.9
...          ...      ...                     ...          ...         ...
53413     Comedy   131256  Feuer, Eis & Dosenbier         2002         4.0
53414  Adventure   131258             The Pirates         2014         2.5
53416  Adventure   131262               Innocence         2014         4.0
53417    Fantasy   131262               Innocence         2014         4.0
53418     Horror   131262               Innocence         2014         4.0

[53150 rows x 5 columns]

In [23]:
movies_by_genre[movies_by_genre['genre'] == 'Adventure'].head()

        genre  movieid         title release_date  avg_rating
0   Adventure        1     Toy Story         1995         3.9
5   Adventure        2       Jumanji         1995         3.2
19  Adventure        8  Tom and Huck         1995         3.1
23  Adventure       10     GoldenEye         1995         3.4
30  Adventure       13         Balto         1995         3.3

### Store file and Insert to movies_by_genre

In [24]:
movies_by_genre.to_csv(deromalized_path + 'movies_by_genre.csv', index=0)

In [36]:
start = time()
upload_data_to_cassandra(keyspace, 'movies_by_genre', 'movies_by_genre.csv', client_id, client_secret, cons='ONE')
end = time()

print(end-start)

CompletedProcess(args=['C:/dsbulk-1.9.0/dsbulk-1.9.0/bin/dsbulk', 'load', '-url', 'C:/Users/giwrg/Downloads/BigData/Datastax_denormalized/movies_by_genre.csv', '-k', 'big_data', '-t', 'movies_by_genre', '-cl', 'ONE', '-b', 'C:/Users/giwrg/Downloads/BigData/secure-connect-bigdataproject2022.zip', '-u', 'ZeYCAzFQsZzBoJQgHJWSitoc', '-p', '8IZ_YFm-E,4g28Q.kw.JleZ5h,BdjYmFTUMZkKk2n5r8k7N0LtGILx3g44yeWo1yr7N,XTLZpu0,DwUHpBcUb8aziYEckRalTgh8.WnbJOuqrwpMcrl..As90BZYzJDj', '-header', 'true'], returncode=0, stdout=b'', stderr=b'Username and password provided but auth provider not specified, inferring PlainTextAuthProvider\r\nA cloud secure connect bundle was provided: ignoring all explicit contact points.\r\nA cloud secure connect bundle was provided together with consistency level ONE, but selected operation performs writes: forcing default consistency level to LOCAL_QUORUM.\r\nOperation directory: C:\\Users\\giwrg\\BigData\\logs\\LOAD_20220703-182858-362000\r\ntotal | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n5.248 |      0 |    812 | 527,53 | 1.694,50 | 1.954,55 |    7,65\r\ntotal | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n9.600 |      0 |    836 | 566,88 | 2.315,26 | 2.684,35 |    7,79\r\n total | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n13.952 |      0 |    854 | 572,47 | 2.264,92 | 3.003,12 |    7,71\r\n total | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n18.304 |      0 |    855 | 572,88 | 2.264,92 | 3.053,45 |    7,70\r\n total | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n21.888 |      0 |    822 | 579,48 | 2.181,04 | 3.053,45 |    7,55\r\n total | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n25.344 |      0 |    805 | 600,18 | 2.516,58 | 3.053,45 |    7,50\r\n total | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n28.672 |      0 |    787 | 615,02 | 2.533,36 | 8.724,15 |    7,36\r\n total | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n32.128 |      0 |    772 | 630,36 | 2.583,69 | 8.724,15 |    7,16\r\n total | failed | rows/s |  p50ms |    p99ms |    p999ms | batches\r\n36.096 |      0 |    775 | 635,36 | 2.583,69 | 13.488,88 |    7,10\r\n total | failed | rows/s |  p50ms |    p99ms |    p999ms | batches\r\n40.576 |      0 |    786 | 631,00 | 2.650,80 | 13.488,88 |    7,04\r\n total | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n44.544 |      0 |    787 | 637,02 | 2.751,46 | 9.126,81 |    7,36\r\n total | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n48.896 |      0 |    792 | 632,15 | 2.684,35 | 8.925,48 |    7,37\r\n total | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n53.150 |      0 |    801 | 627,67 | 2.684,35 | 8.925,48 |    7,32\r\n total | failed | rows/s |  p50ms |    p99ms |   p999ms | batches\r\n53.150 |      0 |    792 | 629,68 | 2.650,80 | 8.925,48 |    7,32\r\nOperation LOAD_20220703-182858-362000 completed successfully in 1 minute and 6 seconds.\r\nLast processed positions can be found in positions.txt\r\n')
76.39097547531128

## Q4

## Denormalize and Model data for Q4

In [27]:
tags = read_csv(mypath+'archive/tag.csv', usecols=['movieId', 'tag'])
tags = tags.rename(columns={'movieId':'movieid'})
# tags['tag'].replace(r'[^\w\s]',' ',regex=True, inplace = True)
tags['tag'].replace("'","/'", inplace = True)
tags = tags[tags['tag'].str.len() > 1]
tags.head()

   movieid            tag
0     4141    Mark Waters
1      208      dark hero
2      353      dark hero
3      521  noir thriller
4      592      dark hero

In [28]:
movies_by_title = merge(left=tags, right=movies.loc[:, 'movieid':'genres'], left_on='movieid', right_on='movieid')
print(movies_by_title.shape)
movies_by_title.head()

(464590, 4)

   movieid                 tag            title                   genres
0     4141         Mark Waters  Head Over Heels           Comedy|Romance
1     4141               naive  Head Over Heels           Comedy|Romance
2     4141         Mark Waters  Head Over Heels           Comedy|Romance
3     4141  Freddie Prinze Jr.  Head Over Heels           Comedy|Romance
4      208           dark hero       Waterworld  Action|Adventure|Sci-Fi

In [29]:
movies_by_title = movies_by_title.groupby(by=['movieid', 'tag'])['tag'].count().reset_index(name='tag_count')
movies_by_title = merge(left=movies_by_title, right=movies.loc[:, 'movieid':'genres'], left_on='movieid', right_on='movieid')

movie_info_by_title = merge(left=movies_by_title, right=avgs, left_on='movieid', right_on='movieid').rename(columns={'rating':'avg_rating'}).round(decimals=1)

print(movie_info_by_title.shape)
movie_info_by_title.head()

(198886, 6)

,movieid,tag,tag_count,title,genres,avg_rating
0,1,2009 reissue in Stereoscopic 3-D,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.9
1,1,3D,3,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.9
2,1,55 movies every kid should see--Entertainment ...,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.9
3,1,Animation,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.9
4,1,BD-Video,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.9

In [30]:
movie_info_by_title[movie_info_by_title['title'] == 'Jumanji'].head()

,movieid,tag,tag_count,title,genres,avg_rating
84,2,CLV,1,Jumanji,Adventure|Children|Fantasy,3.2
85,2,Children,4,Jumanji,Adventure|Children|Fantasy,3.2
86,2,Chris Van Allsburg,2,Jumanji,Adventure|Children|Fantasy,3.2
87,2,Dynamic CGI Action,1,Jumanji,Adventure|Children|Fantasy,3.2
88,2,Fantasy,1,Jumanji,Adventure|Children|Fantasy,3.2

### Store file and Insert to movies_by_title

In [31]:
movie_info_by_title.to_csv(deromalized_path + 'movie_info_by_title.csv', index=0)

In [33]:
start = time()
upload_data_to_cassandra(keyspace, 'movie_info_by_title', 'movie_info_by_title.csv', client_id, client_secret, cons='ALL')
end = time()

print(end-start)

CompletedProcess(args=['C:/dsbulk-1.9.0/dsbulk-1.9.0/bin/dsbulk', 'load', '-url', 'C:/Users/giwrg/Downloads/BigData/Datastax_denormalized/movie_info_by_title.csv', '-k', 'big_data', '-t', 'movie_info_by_title', '-cl', 'ALL', '-b', 'C:/Users/giwrg/Downloads/BigData/secure-connect-bigdataproject2022.zip', '-u', 'ZeYCAzFQsZzBoJQgHJWSitoc', '-p', '8IZ_YFm-E,4g28Q.kw.JleZ5h,BdjYmFTUMZkKk2n5r8k7N0LtGILx3g44yeWo1yr7N,XTLZpu0,DwUHpBcUb8aziYEckRalTgh8.WnbJOuqrwpMcrl..As90BZYzJDj', '-header', 'true'], returncode=0, stdout=b'', stderr=b'Username and password provided but auth provider not specified, inferring PlainTextAuthProvider\r\nA cloud secure connect bundle was provided: ignoring all explicit contact points.\r\nOperation directory: C:\\Users\\giwrg\\BigData\\logs\\LOAD_20220703-093950-653000\r\ntotal | failed | rows/s |    p50ms |    p99ms |   p999ms | batches\r\n4.352 |      0 |    578 | 1.286,38 | 4.009,75 | 4.563,40 |   13,95\r\ntotal | failed | rows/s |    p50ms |    p99ms |   p999ms | batches\r\n8.320 |      0 |    656 | 1.322,59 | 4.596,96 | 6.073,35 |   14,03\r\n total | failed | rows/s |    p50ms |    p99ms |   p999ms | batches\r\n11.776 |      0 |    680 | 1.333,84 | 4.932,50 | 6.073,35 |   13,94\r\n total | failed | rows/s |    p50ms |    p99ms |   p999ms | batches\r\n15.360 |      0 |    677 | 1.353,95 | 4.932,50 | 6.073,35 |   14,03\r\n total | failed | rows/s |    p50ms |    p99ms |   p999ms | batches\r\n18.432 |      0 |    666 | 1.431,38 | 5.435,82 | 6.744,44 |   13,88\r\n total | failed | rows/s |    p50ms |    p99ms |   p999ms | batches\r\n21.760 |      0 |    646 | 1.491,51 | 5.435,82 | 6.744,44 |   14,58\r\n total | failed | rows/s |    p50ms |    p99ms |   p999ms | batches\r\n24.576 |      0 |    639 | 1.628,69 | 6.442,45 | 8.992,59 |   15,17\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n27.264 |      0 |    641 | 1.697,51 | 6.677,33 | 11.676,94 |   14,82\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n30.336 |      0 |    636 | 1.682,00 | 7.012,88 | 11.811,16 |   14,86\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n33.664 |      0 |    636 | 1.670,10 | 7.985,95 | 11.811,16 |   14,78\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n36.864 |      0 |    641 | 1.668,27 | 7.012,88 | 11.811,16 |   14,44\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n40.192 |      0 |    638 | 1.700,69 | 8.086,62 | 30.333,21 |   14,44\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n42.880 |      0 |    633 | 1.697,26 | 7.985,95 | 30.333,21 |   14,18\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n46.080 |      0 |    636 | 1.681,49 | 7.616,86 | 30.333,21 |   13,80\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n49.536 |      0 |    637 | 1.676,74 | 7.985,95 | 30.333,21 |   13,99\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n53.120 |      0 |    644 | 1.640,12 | 7.012,88 | 30.333,21 |   13,66\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n56.576 |      0 |    647 | 1.608,17 | 7.012,88 | 30.333,21 |   13,49\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n60.160 |      0 |    649 | 1.582,40 | 6.744,44 | 30.333,21 |   13,26\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n63.360 |      0 |    651 | 1.569,42 | 6.677,33 | 30.333,21 |   12,96\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n66.944 |      0 |    655 | 1.534,88 | 6.677,33 | 30.333,21 |   12,44\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n70.400 |      0 |    654 | 1.505,10 | 6.576,67 | 30.333,21 |   12,33\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n73.344 |      0 |    654 | 1.492,24 | 6.576,67 | 30.333,21 |   12,12\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n76.288 |      0 |    653 | 1.470,34 | 6.576,67 | 30.333,21 |   11,79\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n79.232 |      0 |    647 | 1.451,37 | 6.543,11 | 30.333,21 |   11,73\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n82.048 |      0 |    644 | 1.445,73 | 6.476,01 | 30.333,21 |   11,71\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n84.736 |      0 |    640 | 1.439,18 | 6.476,01 | 20.401,09 |   11,58\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n87.936 |      0 |    639 | 1.427,07 | 6.476,01 | 20.401,09 |   11,52\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n91.136 |      0 |    640 | 1.424,60 | 6.476,01 | 20.401,09 |   11,47\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n94.336 |      0 |    641 | 1.408,56 | 6.442,45 | 20.401,09 |   11,45\r\n total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n97.792 |      0 |    642 | 1.389,69 | 6.408,90 | 20.401,09 |   11,31\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n100.736 |      0 |    641 | 1.384,73 | 6.341,79 | 20.401,09 |   11,25\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n103.680 |      0 |    639 | 1.378,15 | 6.341,79 | 20.401,09 |   11,16\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n106.240 |      0 |    637 | 1.365,12 | 6.341,79 | 20.401,09 |   10,87\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n109.952 |      0 |    637 | 1.368,90 | 6.341,79 | 30.333,21 |   10,68\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n113.152 |      0 |    638 | 1.361,28 | 6.207,57 | 30.333,21 |   10,70\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n116.864 |      0 |    641 | 1.345,65 | 6.140,46 | 30.333,21 |   10,59\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n120.704 |      0 |    643 | 1.336,59 | 6.140,46 | 30.333,21 |   10,64\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n123.648 |      0 |    642 | 1.335,77 | 6.073,35 | 20.401,09 |   10,74\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n127.232 |      0 |    644 | 1.328,77 | 6.006,24 | 20.401,09 |   10,64\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n130.816 |      0 |    645 | 1.322,60 | 5.939,13 | 20.401,09 |   10,71\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n134.400 |      0 |    648 | 1.319,32 | 5.838,47 | 20.401,09 |   10,73\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n137.984 |      0 |    649 | 1.314,51 | 5.670,70 | 20.401,09 |   10,75\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n141.440 |      0 |    650 | 1.308,99 | 5.637,14 | 20.401,09 |   10,67\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n145.024 |      0 |    651 | 1.299,80 | 5.570,04 | 20.401,09 |   10,60\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n148.096 |      0 |    650 | 1.297,48 | 5.570,04 | 20.401,09 |   10,66\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n151.424 |      0 |    652 | 1.289,43 | 5.536,48 | 20.401,09 |   10,64\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n154.752 |      0 |    653 | 1.279,26 | 5.502,93 | 20.401,09 |   10,67\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n158.464 |      0 |    654 | 1.269,94 | 5.502,93 | 20.401,09 |   10,59\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n161.920 |      0 |    655 | 1.259,04 | 5.435,82 | 20.401,09 |   10,54\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n165.376 |      0 |    656 | 1.249,84 | 5.368,71 | 20.401,09 |   10,47\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n168.448 |      0 |    655 | 1.241,90 | 5.335,15 | 20.401,09 |   10,37\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n171.776 |      0 |    655 | 1.233,18 | 5.301,60 | 20.132,66 |   10,15\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n175.616 |      0 |    656 | 1.222,02 | 5.268,05 | 20.132,66 |   10,03\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n178.688 |      0 |    656 | 1.213,52 | 5.200,94 | 20.132,66 |    9,92\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n182.144 |      0 |    657 | 1.202,07 | 5.167,38 | 15.099,49 |    9,82\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n185.344 |      0 |    657 | 1.190,34 | 5.133,83 | 15.099,49 |    9,58\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n188.672 |      0 |    657 | 1.180,67 | 5.133,83 | 15.099,49 |    9,44\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n191.744 |      0 |    656 | 1.171,39 | 5.100,27 | 15.099,49 |    9,35\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n195.200 |      0 |    657 | 1.159,94 | 5.066,72 | 15.099,49 |    9,29\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n198.272 |      0 |    657 | 1.148,15 | 5.033,16 | 13.891,53 |    9,12\r\n  total | failed | rows/s |    p50ms |    p99ms |    p999ms | batches\r\n198.886 |      0 |    655 | 1.142,91 | 5.033,16 | 13.891,53 |    9,09\r\nOperation LOAD_20220703-093950-653000 completed successfully in 5 minutes and 3 seconds.\r\nLast processed positions can be found in positions.txt\r\n')
314.33774161338806

## Q5

## Denormalize and Model data for Q5

In [34]:
tags['tag'] = tags['tag'].str.lower()

mrt = merge(left=tags.drop_duplicates(), right=movies.loc[:, 'movieid':'genres'], left_on='movieid', right_on='movieid')
movies_by_tag = merge(left=mrt, right=avgs, left_on='movieid', right_on='movieid').rename(columns={'rating':'avg_rating'})
movies_by_tag.head()

,movieid,tag,title,genres,avg_rating
0,4141,mark waters,Head Over Heels,Comedy|Romance,2.9
1,4141,naive,Head Over Heels,Comedy|Romance,2.9
2,4141,freddie prinze jr.,Head Over Heels,Comedy|Romance,2.9
3,208,dark hero,Waterworld,Action|Adventure|Sci-Fi,2.9
4,208,kevin costner,Waterworld,Action|Adventure|Sci-Fi,2.9

In [35]:
movies_by_tag[movies_by_tag['tag'] == 'comedy'].head()

,movieid,tag,title,genres,avg_rating
276,1391,comedy,Mars Attacks!,Action|Comedy|Sci-Fi,3.0
585,3052,comedy,Dogma,Adventure|Comedy|Fantasy,3.6
667,6539,comedy,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy,3.9
1004,8529,comedy,The Terminal,Comedy|Drama|Romance,3.5
1040,8622,comedy,Fahrenheit 9/11,Documentary,3.6

### Store file and Insert to movies_by_tag

In [39]:
movies_by_tag.to_csv(mypath+'Datastax_denormalized/movies_by_tag.csv', index=0)
s = time()
upload_data_to_cassandra(keyspace, 'movies_by_tag', 'movies_by_tag.csv', client_id, client_secret, cons='ALL')
e = time()
print(e-s)

CompletedProcess(args=['C:/dsbulk-1.9.0/dsbulk-1.9.0/bin/dsbulk', 'load', '-url', 'C:/Users/giwrg/Downloads/BigData/Datastax_denormalized/movies_by_tag.csv', '-k', 'big_data', '-t', 'movies_by_tag', '-cl', 'ALL', '-b', 'C:/Users/giwrg/Downloads/BigData/secure-connect-bigdataproject2022.zip', '-u', 'ZeYCAzFQsZzBoJQgHJWSitoc', '-p', '8IZ_YFm-E,4g28Q.kw.JleZ5h,BdjYmFTUMZkKk2n5r8k7N0LtGILx3g44yeWo1yr7N,XTLZpu0,DwUHpBcUb8aziYEckRalTgh8.WnbJOuqrwpMcrl..As90BZYzJDj', '-header', 'true'], returncode=0, stdout=b'', stderr=b'Username and password provided but auth provider not specified, inferring PlainTextAuthProvider\r\nA cloud secure connect bundle was provided: ignoring all explicit contact points.\r\nOperation directory: C:\\Users\\giwrg\\BigData\\logs\\LOAD_20220703-090830-309000\r\ntotal | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n2.176 |      0 |    317 | 185,07 | 497,03 | 750,78 |    1,06\r\ntotal | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n3.968 |      0 |    340 | 185,80 | 497,03 | 700,45 |    1,07\r\ntotal | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n5.888 |      0 |    346 | 184,76 | 471,86 | 637,53 |    1,06\r\ntotal | failed | rows/s |  p50ms |  p99ms | p999ms | batches\r\n7.680 |      0 |    350 | 183,64 | 411,04 | 629,15 |    1,05\r\ntotal | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n8.832 |      0 |    334 | 193,60 | 583,01 | 1.409,29 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n10.880 |      0 |    341 | 191,42 | 524,29 | 1.392,51 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n12.672 |      0 |    347 | 189,42 | 505,41 | 1.375,73 |    1,06\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n14.592 |      0 |    348 | 189,25 | 507,51 | 1.367,34 |    1,06\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n16.384 |      0 |    351 | 187,62 | 497,03 | 1.367,34 |    1,06\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n18.304 |      0 |    353 | 186,83 | 480,25 | 1.367,34 |    1,06\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n19.712 |      0 |    346 | 190,41 | 541,07 | 1.409,29 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n21.504 |      0 |    347 | 189,86 | 522,19 | 1.392,51 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n23.296 |      0 |    349 | 188,96 | 509,61 | 1.384,12 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n24.960 |      0 |    348 | 188,98 | 507,51 | 1.375,73 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n27.008 |      0 |    350 | 188,01 | 503,32 | 1.375,73 |    1,03\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n28.800 |      0 |    352 | 187,65 | 494,93 | 1.367,34 |    1,03\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n30.336 |      0 |    349 | 188,21 | 505,41 | 1.367,34 |    1,03\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n32.128 |      0 |    349 | 189,51 | 513,80 | 1.417,67 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n33.920 |      0 |    349 | 189,02 | 505,41 | 1.417,67 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n35.584 |      0 |    349 | 189,17 | 511,71 | 1.417,67 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n37.504 |      0 |    350 | 188,57 | 505,41 | 1.417,67 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n39.424 |      0 |    352 | 187,93 | 501,22 | 1.417,67 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n41.216 |      0 |    353 | 187,36 | 494,93 | 1.409,29 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n42.624 |      0 |    350 | 188,79 | 524,29 | 1.417,67 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n44.544 |      0 |    350 | 188,59 | 520,09 | 1.409,29 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n46.208 |      0 |    350 | 188,67 | 526,39 | 1.409,29 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n48.128 |      0 |    351 | 188,39 | 518,00 | 1.392,51 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n49.792 |      0 |    350 | 188,92 | 520,09 | 1.392,51 |    1,03\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n51.584 |      0 |    351 | 188,61 | 511,71 | 1.384,12 |    1,03\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n53.120 |      0 |    349 | 189,61 | 534,77 | 1.392,51 |    1,03\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n55.040 |      0 |    350 | 189,17 | 528,48 | 1.392,51 |    1,03\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n56.704 |      0 |    350 | 189,54 | 532,68 | 1.384,12 |    1,03\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n58.496 |      0 |    351 | 189,60 | 528,48 | 1.384,12 |    1,03\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n60.416 |      0 |    351 | 189,34 | 524,29 | 1.375,73 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n62.336 |      0 |    352 | 189,15 | 520,09 | 1.375,73 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n64.384 |      0 |    354 | 189,05 | 513,80 | 1.375,73 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n65.792 |      0 |    352 | 190,39 | 536,87 | 1.384,12 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n67.712 |      0 |    352 | 190,67 | 549,45 | 1.375,73 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n69.632 |      0 |    353 | 190,35 | 545,26 | 1.375,73 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n71.552 |      0 |    354 | 190,13 | 541,07 | 1.367,34 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n73.472 |      0 |    355 | 189,87 | 536,87 | 1.367,34 |    1,04\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n75.392 |      0 |    355 | 189,65 | 530,58 | 1.367,34 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n76.928 |      0 |    354 | 190,38 | 553,65 | 1.367,34 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n78.848 |      0 |    355 | 190,21 | 549,45 | 1.367,34 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n80.768 |      0 |    355 | 190,11 | 545,26 | 1.367,34 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n82.432 |      0 |    355 | 190,08 | 541,07 | 1.367,34 |    1,06\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n84.352 |      0 |    356 | 189,80 | 536,87 | 1.367,34 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n86.144 |      0 |    356 | 189,66 | 532,68 | 1.350,57 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n87.808 |      0 |    355 | 189,83 | 536,87 | 1.342,18 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n89.472 |      0 |    355 | 190,26 | 545,26 | 1.367,34 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n91.392 |      0 |    356 | 190,07 | 541,07 | 1.367,34 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n93.184 |      0 |    356 | 190,00 | 536,87 | 1.367,34 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n95.104 |      0 |    356 | 189,74 | 532,68 | 1.367,34 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n97.024 |      0 |    357 | 189,53 | 528,48 | 1.367,34 |    1,05\r\n total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n98.944 |      0 |    357 | 189,29 | 526,39 | 1.350,57 |    1,05\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n100.608 |      0 |    356 | 189,79 | 541,07 | 1.367,34 |    1,05\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n102.528 |      0 |    357 | 189,52 | 536,87 | 1.367,34 |    1,05\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n104.448 |      0 |    357 | 189,42 | 534,77 | 1.367,34 |    1,05\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n106.240 |      0 |    358 | 189,14 | 530,58 | 1.367,34 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n108.288 |      0 |    358 | 188,88 | 528,48 | 1.358,95 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n110.208 |      0 |    359 | 188,65 | 526,39 | 1.342,18 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n111.488 |      0 |    358 | 189,11 | 536,87 | 1.342,18 |    1,05\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n113.664 |      0 |    358 | 188,93 | 534,77 | 1.342,18 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n115.456 |      0 |    358 | 188,95 | 534,77 | 1.342,18 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n117.309 |      0 |    358 | 188,81 | 530,58 | 1.342,18 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n119.296 |      0 |    359 | 188,63 | 528,48 | 1.342,18 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n121.216 |      0 |    359 | 188,43 | 526,39 | 1.333,79 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n122.880 |      0 |    359 | 188,37 | 524,29 | 1.325,40 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n124.672 |      0 |    359 | 188,70 | 530,58 | 1.367,34 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n126.464 |      0 |    359 | 188,74 | 534,77 | 1.367,34 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n128.640 |      0 |    360 | 188,67 | 530,58 | 1.367,34 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n130.560 |      0 |    360 | 188,51 | 528,48 | 1.358,95 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n132.352 |      0 |    360 | 188,36 | 526,39 | 1.358,95 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n134.400 |      0 |    361 | 188,26 | 524,29 | 1.358,95 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n136.064 |      0 |    361 | 188,83 | 536,87 | 1.375,73 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n137.984 |      0 |    361 | 188,90 | 541,07 | 1.375,73 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n140.032 |      0 |    361 | 188,73 | 536,87 | 1.375,73 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n141.952 |      0 |    362 | 188,52 | 534,77 | 1.375,73 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n144.000 |      0 |    362 | 188,27 | 530,58 | 1.375,73 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n145.920 |      0 |    363 | 188,12 | 528,48 | 1.367,34 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n147.584 |      0 |    362 | 188,16 | 530,58 | 1.367,34 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n149.376 |      0 |    362 | 188,49 | 541,07 | 1.384,12 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n151.296 |      0 |    362 | 188,41 | 536,87 | 1.375,73 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n153.344 |      0 |    363 | 188,25 | 534,77 | 1.375,73 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n155.264 |      0 |    363 | 188,16 | 530,58 | 1.375,73 |    1,06\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n157.184 |      0 |    363 | 188,09 | 528,48 | 1.375,73 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n159.104 |      0 |    364 | 187,95 | 526,39 | 1.375,73 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n160.768 |      0 |    363 | 188,27 | 532,68 | 1.375,73 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n162.944 |      0 |    364 | 188,31 | 530,58 | 1.375,73 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n164.736 |      0 |    364 | 188,43 | 530,58 | 1.375,73 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n166.784 |      0 |    365 | 188,28 | 528,48 | 1.375,73 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n169.088 |      0 |    366 | 188,31 | 526,39 | 1.375,73 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n171.136 |      0 |    366 | 188,34 | 524,29 | 1.375,73 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n172.800 |      0 |    366 | 188,70 | 530,58 | 1.384,12 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n174.720 |      0 |    366 | 188,57 | 528,48 | 1.384,12 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n176.640 |      0 |    366 | 188,55 | 528,48 | 1.384,12 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n178.816 |      0 |    367 | 188,48 | 526,39 | 1.375,73 |    1,07\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n180.992 |      0 |    367 | 188,48 | 524,29 | 1.375,73 |    1,08\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n183.040 |      0 |    368 | 188,48 | 522,19 | 1.375,73 |    1,08\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n184.960 |      0 |    368 | 188,46 | 520,09 | 1.375,73 |    1,08\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n186.624 |      0 |    368 | 188,73 | 528,48 | 1.375,73 |    1,08\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n188.800 |      0 |    368 | 188,88 | 530,58 | 1.375,73 |    1,08\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n190.976 |      0 |    369 | 188,94 | 528,48 | 1.375,73 |    1,08\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n193.664 |      0 |    370 | 189,66 | 528,48 | 1.375,73 |    1,09\r\n  total | failed | rows/s |  p50ms |  p99ms |   p999ms | batches\r\n194.386 |      0 |    371 | 189,91 | 534,77 | 1.392,51 |    1,09\r\nOperation LOAD_20220703-090830-309000 completed successfully in 8 minutes and 43 seconds.\r\nLast processed positions can be found in positions.txt\r\n')
535.2364776134491